apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-nginx-conf
  namespace: three-tier
data:
  nginx.conf: |
    events {}

    http {
      server {
        listen 80;

        location / {
          root /usr/share/nginx/html;
          index index.html;
          try_files $uri $uri/ =404;
        }

        location /api/ {
          proxy_http_version 1.1;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_pass http://backend.three-tier.svc.cluster.local:3000/;
        }
      }
    }
